  #midelCU
  {
    	
    	height:530px;
    	margin: 0 auto; 
    	overflow: hidden;
background-color :#424242;
 
        position: absolute;
        max-width: 100%;
        width: 100%;
        top:100px; 
    }
    
    h1
    {
       color: #DEDEDE;
       font-size:small;
       font-family:  initial;
           
    }
   